In [1]:
import pandas as pd
import matplotlib as plt
import datetime
import time
import numpy as np
import gc
import sqlite3
import re
import pickle

In [2]:
#pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
#pd.set_option('display.width', 1000)

In [3]:
def make_prediction(assetName, date):
    news_con = sqlite3.connect("NewsData.db")
    table_name = re.sub(r'\W+', '', assetName)
    table_name = "News_" + table_name
    query = """SELECT * FROM """ + table_name  + """ WHERE "time" = ?""" 
    news_df = pd.read_sql(sql=query, con=news_con, params=[date])
    news_con.close()
    
    market_con = sqlite3.connect("MarketData.db")
    table_name = re.sub(r'\W+', '', assetName)
    table_name = "Market_" + table_name
    query = """SELECT * FROM """ + table_name  + """ WHERE "time" = ?""" 
    date_time = date + " 22:00:00"
    market_df = pd.read_sql(sql=query, con=market_con, params=[date_time])
    market_con.close()

    range_sent = [ 1, 0, -1]
    range_urg = [1, 3]
    cols_filtered = ['rel_firstMention', 'rel_SentCount', 'relevance', 'firstMentionSentence', 
               'sentenceCount', 'sentimentWordCount', 'wordCount']
    for i in range_sent:
        for j in range_urg:
            for col in cols_filtered:
                new_col = col + "_" + str(j) + '_' + str(i)
                news_df[new_col] = 0.0
                news_df.loc[((news_df['sentimentClass'] == i)  & (news_df['urgency'] == j)),new_col] = \
                    news_df.loc[((news_df['sentimentClass'] == i)  & (news_df['urgency'] == j)),col]
    news_df.drop(labels=cols_filtered + ['urgency','sentimentClass'], axis=1, inplace=True)
    gc.collect()

    news_df['returnsOpenPrevMktres1']  = float(market_df['returnsOpenPrevMktres1'])
    news_df['returnsOpenPrevMktres10'] = float(market_df['returnsOpenPrevMktres10'])
    news_df['returnsOpenPrevMktres1_dir'] = news_df['returnsOpenPrevMktres1'].apply(lambda x: 0 if x<0 else 1)
    news_df['returnsOpenPrevMktres10_dir'] = news_df['returnsOpenPrevMktres10'].apply(lambda x: 0 if x<0 else 1)

    req_feature_columns = ['returnsOpenPrevMktres1_dir', 'returnsOpenPrevMktres10_dir', 'relevance_1_1', 
                           'firstMentionSentence_1_1', 'sentimentWordCount_1_1', 'relevance_3_1',
                           'firstMentionSentence_3_1', 'sentimentWordCount_3_1', 'relevance_1_0',
                           'firstMentionSentence_1_0', 'sentimentWordCount_1_0', 'relevance_3_0',
                           'firstMentionSentence_3_0', 'sentimentWordCount_3_0', 'relevance_1_-1', 
                           'firstMentionSentence_1_-1','sentimentWordCount_1_-1','relevance_3_-1', 
                           'firstMentionSentence_3_-1', 'sentimentWordCount_3_-1', 'rel_SentCount_1_1', 
                           'rel_SentCount_3_1', 'rel_firstMention_1_1', 'rel_firstMention_3_1', 
                           'rel_firstMention_1_0', 'rel_SentCount_1_0', 'rel_firstMention_3_0', 'rel_firstMention_1_-1', 
                           'rel_SentCount_3_0', 'rel_SentCount_1_-1', 'rel_firstMention_3_-1', 'rel_SentCount_3_-1']
    X_data = news_df[req_feature_columns].values
    loaded_model = pickle.load(open('finalized_model.sav', 'rb'))
    Y_predict = loaded_model.predict(X_data)
    X_mean = news_df.groupby(['time','assetName'], as_index=False).mean()[req_feature_columns].values
    Y_predict_mean = loaded_model.predict(X_mean)
    del news_df, market_df
    return Y_predict, Y_predict_mean

In [ ]:
make_prediction("Morgan Stanley", "2009-01-05")

In [ ]:
news_con = sqlite3.connect("NewsData.db")

# Market database

In [4]:
assetName = "Morgan Stanley"
start_date = "2009-01-05"
end_date = "2014-01-05"

In [66]:
def predict_stock(assetName, start_date, end_date):

    market_con = sqlite3.connect("MarketData.db")
    table_name = re.sub(r'\W+', '', assetName)
    table_name = "Market_" + table_name
    query = """SELECT * FROM """ + table_name  + """ WHERE "time" >= ? AND "time" <= ? """ 
    start_date_time = start_date + " 22:00:00"
    end_date_time = end_date + " 22:00:00"
    market_df = pd.read_sql(sql=query, con=market_con, params=[start_date_time, end_date_time])
    market_con.close()

    news_con = sqlite3.connect("NewsData.db")
    table_name = re.sub(r'\W+', '', assetName)
    table_name = "News_" + table_name
    query = """SELECT * FROM """ + table_name  + """ WHERE "time" >= ? AND "time" <= ? """ 
    news_df = pd.read_sql(sql=query, con=news_con, params=[start_date, end_date])
    news_con.close()

    range_sent = [ 1, 0, -1]
    range_urg = [1, 3]
    cols_filtered = ['rel_firstMention', 'rel_SentCount', 'relevance', 'firstMentionSentence', 
               'sentenceCount', 'sentimentWordCount', 'wordCount']
    for i in range_sent:
        for j in range_urg:
            for col in cols_filtered:
                new_col = col + "_" + str(j) + '_' + str(i)
                news_df[new_col] = 0.0
                news_df.loc[((news_df['sentimentClass'] == i)  & (news_df['urgency'] == j)),new_col] = \
                    news_df.loc[((news_df['sentimentClass'] == i)  & (news_df['urgency'] == j)),col]
    news_df.drop(labels=cols_filtered + ['urgency','sentimentClass'], axis=1, inplace=True)
    gc.collect()

    market_df['time'] = pd.to_datetime(market_df['time']).dt.date
    news_df['time'] = pd.to_datetime(news_df['time']).dt.date

    def data_prep(market_df,news_df):
        kcol = ['time']
        news_df = news_df.groupby(kcol, as_index=False).mean()
        market_df = pd.merge(market_df, news_df, how='left', left_on=['time'], right_on=['time'])   
        null_df = market_df[market_df.isna().any(axis=1)]
        market_df = market_df.dropna(axis=0)
        return null_df, market_df

    null_df, market_news = data_prep(market_df, news_df)

    del news_df, market_df

    market_news['returnsOpenPrevMktres1_dir'] = market_news['returnsOpenPrevMktres1'].apply(lambda x: 0 if x<0 else 1)
    market_news['returnsOpenPrevMktres10_dir'] = market_news['returnsOpenPrevMktres10'].apply(lambda x: 0 if x<0 else 1)

    req_feature_columns = ['returnsOpenPrevMktres1_dir', 'returnsOpenPrevMktres10_dir', 'relevance_1_1', 
                               'firstMentionSentence_1_1', 'sentimentWordCount_1_1', 'relevance_3_1',
                               'firstMentionSentence_3_1', 'sentimentWordCount_3_1', 'relevance_1_0',
                               'firstMentionSentence_1_0', 'sentimentWordCount_1_0', 'relevance_3_0',
                               'firstMentionSentence_3_0', 'sentimentWordCount_3_0', 'relevance_1_-1', 
                               'firstMentionSentence_1_-1','sentimentWordCount_1_-1','relevance_3_-1', 
                               'firstMentionSentence_3_-1', 'sentimentWordCount_3_-1', 'rel_SentCount_1_1', 
                               'rel_SentCount_3_1', 'rel_firstMention_1_1', 'rel_firstMention_3_1', 
                               'rel_firstMention_1_0', 'rel_SentCount_1_0', 'rel_firstMention_3_0', 'rel_firstMention_1_-1', 
                               'rel_SentCount_3_0', 'rel_SentCount_1_-1', 'rel_firstMention_3_-1', 'rel_SentCount_3_-1']

    X_data = market_news[req_feature_columns].values
    Y_predict = loaded_model.predict(X_data)
    market_news['predicted'] = Y_predict
    market_news['expected'] = market_news['returnsOpenNextMktres10'].map(lambda x: 0 if x<0 else 1)
    return_col = ['time', 'volume', 'close', 'open','predicted','expected']
    market_news = market_news[return_col]

    null_df['expected'] = null_df['returnsOpenNextMktres10'].map(lambda x: 0 if x<0 else 1)
    null_df['predicted'] = null_df['expected']
    null_df = null_df[return_col]

    final_df = pd.concat([market_news, null_df]).sort_values(['time'])
    final_df['average'] = (final_df['open'] + final_df['close'])/2.0
    del null_df, market_news
    gc.collect()
    return final_df

In [67]:
predict_stock(assetName, start_date, end_date)

            time       volume  close     open  predicted  expected   average
0     2009-01-05   25452042.0  17.62  16.8000          0         1  17.21000
1     2009-01-06   38951702.0  19.58  18.0700          0         1  18.82500
2     2009-01-07   30916751.0  18.10  19.0700          1         1  18.58500
3     2009-01-08   21116269.0  18.82  17.9000          1         1  18.36000
4     2009-01-09   35861704.0  19.06  18.9700          1         1  19.01500
5     2009-01-12   49198602.0  18.79  20.0800          1         1  19.43500
6     2009-01-13   31391567.0  18.86  18.2700          1         1  18.56500
7     2009-01-14   39581552.0  17.19  18.2500          1         1  17.72000
8     2009-01-15   41843063.0  16.26  17.1000          1         1  16.68000
9     2009-01-16   42346767.0  15.59  16.9800          1         1  16.28500
10    2009-01-20   32981134.0  13.10  14.9600          1         1  14.03000
11    2009-01-21   46585239.0  16.86  13.9300          1         1  15.39500
12    2009-01-22   45770898.0  17.58  16.2700          1         1  16.92500
13    2009-01-23   39106922.0  18.71  16.7600          1         1  17.73500
14    2009-01-26   38136002.0  19.08  18.9300          0         1  19.00500
15    2009-01-27   26161260.0  19.79  19.5600          1         1  19.67500
16    2009-01-28   61652787.0  23.00  21.0700          1         1  22.03500
17    2009-01-29   40261552.0  21.38  21.7500          1         1  21.56500
18    2009-01-30   42333168.0  20.23  21.0000          1         1  20.61500
19    2009-02-02   31268528.0  20.80  19.6000          1         1  20.20000
20    2009-02-03   28462980.0  20.94  21.1700          1         1  21.05500
21    2009-02-04   41346572.0  22.01  21.1900          1         1  21.60000
22    2009-02-05   54825844.0  23.19  21.6800          1         1  22.43500
23    2009-02-06   46982445.0  22.87  23.7600          1         1  23.31500
24    2009-02-09   39661926.0  23.61  22.7500          1         1  23.18000
25    2009-02-10   45320394.0  20.79  23.2800          1         1  22.03500
26    2009-02-11   38607290.0  22.91  22.0000          1         1  22.45500
27    2009-02-12   47102111.0  22.99  22.4200          1         1  22.70500
28    2009-02-13   36060280.0  22.93  22.8400          1         1  22.88500
29    2009-02-17   45958452.0  19.76  21.6700          1         1  20.71500
30    2009-02-18   45584993.0  20.18  20.3800          1         1  20.28000
31    2009-02-19   35231977.0  19.93  20.7600          1         1  20.34500
32    2009-02-20   55975798.0  19.43  19.1500          1         1  19.29000
33    2009-02-23   35418869.0  18.82  20.2500          1         1  19.53500
34    2009-02-24   49059927.0  22.07  19.1600          1         1  20.61500
35    2009-02-25   53559345.0  21.76  21.9500          1         1  21.85500
36    2009-02-26   37805699.0  21.33  22.4500          1         1  21.89000
37    2009-02-27   51474842.0  19.54  20.3100          1         1  19.92500
38    2009-03-02   44613157.0  17.95  18.8600          1         1  18.40500
39    2009-03-03   42542753.0  18.18  18.4900          1         1  18.33500
40    2009-03-04   46274138.0  19.40  18.4900          1         1  18.94500
41    2009-03-05   46528118.0  17.98  18.8600          1         0  18.42000
42    2009-03-06   55554283.0  17.18  18.5100          1         1  17.84500
43    2009-03-09   44525782.0  16.48  16.6600          1         1  16.57000
44    2009-03-10   62413721.0  20.84  17.8000          0         0  19.32000
45    2009-03-11   71195814.0  22.51  22.5000          1         0  22.50500
46    2009-03-12   56130319.0  24.18  22.4900          1         0  23.33500
47    2009-03-13   67135880.0  25.43  24.7100          1         0  25.07000
48    2009-03-16   61443107.0  23.04  25.9100          1         0  24.47500
49    2009-03-17   60647912.0  23.81  22.3495          0         0  23.07975
50    2009-03-18   65467543.0  24.19  22.7700          1         0  23.48000
51    2009-03-19   66326755.0  21.04  24.4600          1         0  22.75000
52    2009-03-20   57637209.0  20.24  21.5400          0         0  20.89000
53    2009-03-23   64755253.0  24.43  22.1300          1         0  23.28000
54    2009-03-24   82455317.0  25.12  23.8100          1         0  24.46500
55    2009-03-25   74603470.0  25.91  25.7500          0         0  25.83000
56    2009-03-26   54504767.0  25.65  26.3600          0         0  26.00500
57    2009-03-27   45528169.0  24.35  25.1100          0         1  24.73000
58    2009-03-30   44639409.0  22.13  22.7400          0         0  22.43500
59    2009-03-31   54515029.0  22.77  22.7000          0         0  22.73500
60    2009-04-01   46279692.0  23.73  22.1900          0         0  22.96000
61    2009-04-02   67785568.0  23.11  24.9500          0         0  24.03000
62    2009-04-03   52638488.0  24.06  22.6000          0         1  23.33000
63    2009-04-06   35212861.0  23.31  23.0800          0         0  23.19500
64    2009-04-07   45462974.0  23.32  22.4100          0         0  22.86500
65    2009-04-08   37673682.0  22.69  23.7700          0         0  23.23000
66    2009-04-09   53190858.0  25.35  24.1000          0         0  24.72500
67    2009-04-13   45126478.0  26.89  24.5700          0         0  25.73000
68    2009-04-14   48230494.0  23.67  25.5400          1         0  24.60500
69    2009-04-15   52402862.0  23.45  23.4300          0         0  23.44000
70    2009-04-16   40061448.0  23.97  23.5800          0         0  23.77500
71    2009-04-17   51614220.0  25.00  23.8700          0         1  24.43500
72    2009-04-20   45375858.0  23.52  24.1800          0         1  23.85000
73    2009-04-21   50197554.0  24.65  23.0600          1         1  23.85500
74    2009-04-22  104008781.0  22.44  22.6500          0         1  22.54500
75    2009-04-23   62367110.0  21.96  22.7100          0         0  22.33500
76    2009-04-24   53830846.0  21.96  22.3500          0         1  22.15500
77    2009-04-27   33354259.0  21.26  21.6000          0         1  21.43000
78    2009-04-28   27676519.0  21.08  20.8700          0         1  20.97500
79    2009-04-29   47127544.0  23.07  21.4500          0         1  22.26000
80    2009-04-30   48998395.0  23.64  23.7800          0         1  23.71000
81    2009-05-01   59562052.0  25.82  23.7400          0         1  24.78000
82    2009-05-04   45301027.0  27.02  26.2400          0         1  26.63000
83    2009-05-05   26138757.0  27.21  26.8300          1         1  27.02000
84    2009-05-06   46041317.0  28.51  27.5200          1         1  28.01500
85    2009-05-07   42148950.0  27.14  28.7400          1         1  27.94000
86    2009-05-08  150062450.0  28.20  24.9900          0         1  26.59500
87    2009-05-11   48442348.0  26.07  27.6600          1         1  26.86500
88    2009-05-12   41789232.0  26.42  26.6300          1         1  26.52500
89    2009-05-13   32058280.0  25.10  25.6400          1         1  25.37000
90    2009-05-14   31550674.0  26.57  25.2200          1         1  25.89500
91    2009-05-15   28703146.0  26.13  26.5900          1         0  26.36000
92    2009-05-18   35991488.0  28.28  26.9600          1         0  27.62000
93    2009-05-19   41899342.0  28.91  28.4900          1         0  28.70000
94    2009-05-20   36012526.0  28.00  29.5000          1         1  28.75000
95    2009-05-21   28187611.0  28.09  27.6400          1         1  27.86500
96    2009-05-22   18418049.0  28.23  28.4200          1         1  28.32500
97    2009-05-26   23553898.0  29.02  28.0600          1         1  28.54000
98    2009-05-27   35974742.0  28.61  29.0500          1         0  28.83000
99    2009-05-28   21051044.0  29.43  28.9700          1         0  29.20000
100   2009-05-29   29256858.0  30.32  30.0900          1         0  30.20500
101   2009-06-01   31247394.0  29.89  30.6700          1         1  30.28000
102   2009-06-02   67635627.0  30.09  28.2700          0         0  29.18000
103   2009-06-03   27901033.0  29.72  29.8900          0         0  29.80500
104   2009-06-04   28282784.0  31.20  29.8800          0         0  30.54000
105   2009-06-05   20842973.0  30.97  31.7800          1         0  31.37500
106   2009-06-08   17869183.0  31.39  30.6700          1         0  31.03000
107   2009-06-09   28935017.0  30.98  31.6300          1         0  31.30500
108   2009-06-10   54483964.0  29.26  31.1700          1         1  30.21500
109   2009-06-11   29084984.0  29.49  29.5800          0         0  29.53500
110   2009-06-12   15945133.0  29.70  29.3100          0         1  29.50500
111   2009-06-15   23280003.0  28.40  29.3000          0         1  28.85000
112   2009-06-16   24488277.0  28.10  28.7200          0         1  28.41000
113   2009-06-17   24421639.0  27.48  27.9600          0         0  27.72000
114   2009-06-18   23210169.0  28.03  27.5400          0         0  27.78500
115   2009-06-19   32331989.0  28.27  28.2700          0         1  28.27000
116   2009-06-22   27697848.0  26.63  27.8500          0         1  27.24000
117   2009-06-23   31679367.0  27.70  26.7800          0         0  27.24000
118   2009-06-24   22645528.0  27.65  27.9800          0         0  27.81500
119   2009-06-25   22536124.0  27.87  27.4100          1         1  27.64000
120   2009-06-26   30090103.0  28.62  27.8100          0         1  28.21500
121   2009-06-29   18550758.0  29.10  28.7700          1         1  28.93500
122   2009-06-30   17700947.0  28.51  28.8700          1         0  28.69000
123   2009-07-01   13113395.0  28.36  28.5800          1         0  28.47000
124   2009-07-02   19930210.0  26.99  27.8800          0         0  27.43500
125   2009-07-06   22730702.0  26.85  26.6000          0         0  26.72500
126   2009-07-07   19936578.0  26.15  26.9000          0         0  26.52500
127   2009-07-08   33326885.0  25.50  26.3400          1         0  25.92000
128   2009-07-09   20608715.0  25.88  25.9700          0         0  25.92500
129   2009-07-10   17073782.0  25.94  25.6500          0         0  25.79500
130   2009-07-13   31765425.0  27.91  26.6900          1         0  27.30000
131   2009-07-14   21765186.0  27.88  27.9700          1         0  27.92500
132   2009-07-15   31602422.0  28.80  28.4600          1         0  28.63000
133   2009-07-16   21809054.0  28.56  28.5200          0         0  28.54000
134   2009-07-17   22092756.0  27.99  28.5500          0         0  28.27000
135   2009-07-20   19654465.0  28.34  28.4500          0         0  28.39500
136   2009-07-21   25380666.0  27.56  28.3900          0         1  27.97500
137   2009-07-22   50806595.0  27.54  26.3500          0         1  26.94500
138   2009-07-23   31300074.0  28.54  27.5600          0         1  28.05000
139   2009-07-24   14749484.0  28.25  28.2700          0         1  28.26000
140   2009-07-27   15637805.0  28.05  28.3300          0         1  28.19000
141   2009-07-28   18936042.0  27.43  27.6400          0         1  27.53500
142   2009-07-29   22647237.0  27.16  26.8600          0         1  27.01000
143   2009-07-30   24382559.0  28.36  27.5100          0         1  27.93500
144   2009-07-31   20856174.0  28.50  28.4000          0         1  28.45000
145   2009-08-03   17582632.0  29.31  28.9300          0         0  29.12000
146   2009-08-04   20983306.0  30.07  29.2500          0         0  29.66000
147   2009-08-05   27671496.0  31.05  29.9300          1         0  30.49000
148   2009-08-06   25784023.0  30.55  31.6800          1         0  31.11500
149   2009-08-07   21663425.0  31.22  30.9300          1         0  31.07500
150   2009-08-10   14108252.0  30.83  31.1700          1         0  31.00000
151   2009-08-11   17328115.0  29.89  30.5500          1         0  30.22000
152   2009-08-12   17799531.0  29.98  29.7700          1         0  29.87500
153   2009-08-13   17868867.0  29.88  30.4200          1         0  30.15000
154   2009-08-14   12449291.0  29.79  29.8700          1         0  29.83000
155   2009-08-17   17527802.0  28.54  28.9200          1         0  28.73000
156   2009-08-18   12073853.0  28.78  28.8500          0         0  28.81500
157   2009-08-19   12720978.0  28.83  28.2500          0         0  28.54000
158   2009-08-20   12763052.0  29.36  28.8000          0         0  29.08000
159   2009-08-21   24293853.0  29.69  29.8600          0         0  29.77500
160   2009-08-24   16284272.0  29.65  29.9200          0         0  29.78500
161   2009-08-25   15308257.0  30.19  29.9300          0         0  30.06000
162   2009-08-26   15137752.0  29.53  30.1000          0         0  29.81500
163   2009-08-27   14035209.0  29.84  29.5800          0         0  29.71000
164   2009-08-28   14230634.0  29.51  30.1300          0         0  29.82000
165   2009-08-31   19549052.0  28.96  28.6400          0         0  28.80000
166   2009-09-01   30633646.0  27.45  28.8300          0         0  28.14000
167   2009-09-02   20699671.0  27.09  27.4300          0         0  27.26000
168   2009-09-03   13083167.0  27.65  27.4400          0         0  27.54500
169   2009-09-04   17890949.0  27.65  27.7700          0         1  27.71000
170   2009-09-08   14569578.0  27.80  28.1700          0         1  27.98500
171   2009-09-09   25821722.0  28.55  28.4600          0         1  28.50500
172   2009-09-10   23212747.0  28.64  28.5900          0         1  28.61500
173   2009-09-11   22974803.0  28.82  28.9500          0         1  28.88500
174   2009-09-14   20472773.0  28.75  28.5400          0         1  28.64500
175   2009-09-15   23190770.0  28.74  28.8500          0         1  28.79500
176   2009-09-16   34744204.0  30.15  28.8500          0         1  29.50000
177   2009-09-17   33732558.0  31.05  30.0500          0         1  30.55000
178   2009-09-18   24931556.0  31.38  30.9400          0         1  31.16000
179   2009-09-21   21618746.0  31.61  30.9400          0         0  31.27500
180   2009-09-22   25304754.0  32.98  31.9400          1         0  32.46000
181   2009-09-23   21648467.0  32.03  33.1500          1         0  32.59000
182   2009-09-24   22007158.0  30.73  31.9000          1         1  31.31500
183   2009-09-25   17138476.0  30.55  30.7600          1         0  30.65500
184   2009-09-28   15415976.0  31.25  30.8600          1         0  31.05500
185   2009-09-29   12582907.0  31.09  31.1900          1         1  31.14000
186   2009-09-30   15946060.0  30.88  30.9500          1         0  30.91500
187   2009-10-01   18990589.0  29.87  30.6700          1         0  30.27000
188   2009-10-02   19869155.0  29.46  29.2800          1         0  29.37000
189   2009-10-05   15978953.0  29.84  29.9000          1         0  29.87000
190   2009-10-06   19453857.0  30.79  30.0500          0         1  30.42000
191   2009-10-07   10727184.0  31.16  30.5300          0         1  30.84500
192   2009-10-08   18940493.0  31.94  31.5900          0         1  31.76500
193   2009-10-09   11635304.0  32.09  31.9500          1         1  32.02000
194   2009-10-12   11138546.0  31.76  31.9000          0         1  31.83000
195   2009-10-13   14186753.0  31.14  31.4000          0         1  31.27000
196   2009-10-14   23646816.0  32.83  32.0600          1         1  32.44500
197   2009-10-15   16684360.0  32.71  31.9900          0         1  32.35000
198   2009-10-16   28620020.0  32.99  31.7300          0         1  32.36000
199   2009-10-19   17683594.0  33.11  33.1300          0         1  33.12000
200   2009-10-20   15467713.0  32.52  33.0400          0         1  32.78000
201   2009-10-21   48862070.0  34.08  33.6900          1         0  33.88500
202   2009-10-22   29312702.0  35.74  34.1500          1         0  34.94500
203   2009-10-23   27244115.0  35.00  35.6900          1         0  35.34500
204   2009-10-26   23859758.0  34.80  35.0300          1         0  34.91500
205   2009-10-27   16451750.0  34.11  34.7000          1         0  34.40500
206   2009-10-28   25573381.0  32.31  34.0100          1         0  33.16000
207   2009-10-29   17559085.0  33.67  33.0600          1         0  33.36500
208   2009-10-30   21658760.0  32.12  33.1400          1         0  32.63000
209   2009-11-02   20541553.0  31.98  32.1300          1         1  32.05500
210   2009-11-03   14666210.0  32.14  31.3400          0         0  31.74000
211   2009-11-04   20015564.0  31.48  32.7400          1         0  32.11000
212   2009-11-05   14854798.0  32.42  31.7900          0         0  32.10500
213   2009-11-06   13185229.0  32.60  31.9300          0         0  32.26500
214   2009-11-09   15284961.0  33.95  32.8600          0         0  33.40500
215   2009-11-10   10168331.0  33.70  33.8100          0         0  33.75500
216   2009-11-11   12930268.0  33.75  33.9900          0         0  33.87000
217   2009-11-12   12713981.0  33.01  33.6400          0         0  33.32500
218   2009-11-13   10350606.0  33.09  33.1300          0         0  33.11000
219   2009-11-16   23049712.0  34.23  33.3300          0         0  33.78000
220   2009-11-17   14252071.0  33.47  34.1000          1         0  33.78500
221   2009-11-18   10918838.0  33.33  33.4600          0         0  33.39500
222   2009-11-19   12115154.0  32.31  33.0100          0         0  32.66000
223   2009-11-20   11895756.0  32.10  32.4200          0         0  32.26000
224   2009-11-23    9538303.0  32.62  32.5500          0         0  32.58500
225   2009-11-24    9689367.0  32.12  32.6400          0         0  32.38000
226   2009-11-25   15018327.0  31.42  32.1900          0         0  31.80500
227   2009-11-27   11230243.0  30.51  30.3400          0         0  30.42500
228   2009-11-30   15313829.0  31.58  30.7000          0         0  31.14000
229   2009-12-01   11797398.0  31.52  31.7700          0         0  31.64500
230   2009-12-02   17240466.0  30.60  31.3500          0         0  30.97500
231   2009-12-03   14735932.0  30.20  30.9100          0         0  30.55500
232   2009-12-04   16323587.0  30.97  30.8500          0         0  30.91000
233   2009-12-07   10394993.0  30.38  30.7900          0         0  30.58500
234   2009-12-08   14018460.0  30.15  30.0900          0         0  30.12000
235   2009-12-09   11715748.0  30.35  30.3100          0         0  30.33000
236   2009-12-10   11938678.0  30.23  30.4300          0         0  30.33000
237   2009-12-11   10847270.0  29.78  30.2000          0         0  29.99000
238   2009-12-14   14433614.0  30.17  29.9900          0         0  30.08000
239   2009-12-15   15755658.0  29.85  29.9500          0         0  29.90000
240   2009-12-16   13074209.0  30.34  30.0900          0         1  30.21500
241   2009-12-17   23281006.0  29.12  29.9900          0         1  29.55500
242   2009-12-18   19837089.0  29.21  29.2400          0         1  29.22500
243   2009-12-21    9593382.0  29.66  29.4100          0         1  29.53500
244   2009-12-22    9659891.0  29.60  29.8300          0         1  29.71500
245   2009-12-23    7250431.0  29.41  29.6700          0         1  29.54000
246   2009-12-24    2652798.0  29.60  29.5000          0         1  29.55000
247   2009-12-28    8608320.0  29.29  29.6100          0         1  29.45000
248   2009-12-29    7716752.0  29.43  29.5100          0         1  29.47000
249   2009-12-30    6141373.0  29.49  29.2300          0         0  29.36000
...          ...          ...    ...      ...        ...       ...       ...
1009  2013-01-08   22209260.0  19.65  19.7400          1         1  19.69500
1010  2013-01-09   26994691.0  19.62  19.7000          1         1  19.66000
1011  2013-01-10   39872034.0  20.34  19.8600          1         1  20.10000
1012  2013-01-11   20881367.0  20.17  20.1600          1         1  20.16500
1013  2013-01-14   14591476.0  20.07  20.2400          1         1  20.15500
1014  2013-01-15   25283072.0  20.43  19.9300          1         1  20.18000
1015  2013-01-16   30630743.0  20.54  20.7300          1         1  20.63500

In [5]:
market_con = sqlite3.connect("MarketData.db")
table_name = re.sub(r'\W+', '', assetName)
table_name = "Market_" + table_name
query = """SELECT * FROM """ + table_name  + """ WHERE "time" >= ? AND "time" <= ? """ 
start_date_time = start_date + " 22:00:00"
end_date_time = end_date + " 22:00:00"
market_df = pd.read_sql(sql=query, con=market_con, params=[start_date_time, end_date_time])
market_con.close()

In [19]:
market_df.shape

(1259, 9)

In [6]:
news_con = sqlite3.connect("NewsData.db")
table_name = re.sub(r'\W+', '', assetName)
table_name = "News_" + table_name
query = """SELECT * FROM """ + table_name  + """ WHERE "time" >= ? AND "time" <= ? """ 
news_df = pd.read_sql(sql=query, con=news_con, params=[start_date, end_date])
news_con.close()

1490

In [11]:
range_sent = [ 1, 0, -1]
range_urg = [1, 3]
cols_filtered = ['rel_firstMention', 'rel_SentCount', 'relevance', 'firstMentionSentence', 
           'sentenceCount', 'sentimentWordCount', 'wordCount']
for i in range_sent:
    for j in range_urg:
        for col in cols_filtered:
            new_col = col + "_" + str(j) + '_' + str(i)
            news_df[new_col] = 0.0
            news_df.loc[((news_df['sentimentClass'] == i)  & (news_df['urgency'] == j)),new_col] = \
                news_df.loc[((news_df['sentimentClass'] == i)  & (news_df['urgency'] == j)),col]
news_df.drop(labels=cols_filtered + ['urgency','sentimentClass'], axis=1, inplace=True)
gc.collect()

168

In [12]:
#market_col = [ 'time','returnsOpenNextMktres10', 'returnsOpenPrevMktres1','returnsOpenPrevMktres10']
#market_df = market_df[market_col]
market_df['time'] = pd.to_datetime(market_df['time']).dt.date
news_df['time'] = pd.to_datetime(news_df['time']).dt.date

In [23]:
news_df.groupby('time', as_index=False).mean().shape

(1490, 44)

In [39]:
def data_prep(market_df,news_df):
    kcol = ['time']
    news_df = news_df.groupby(kcol, as_index=False).mean()
    market_df = pd.merge(market_df, news_df, how='left', left_on=['time'], right_on=['time'])   
    null_df = market_df[market_df.isna().any(axis=1)]
    market_df = market_df.dropna(axis=0)
    return null_df, market_df

In [40]:
null_df, market_news = data_prep(market_df, news_df)

In [41]:
null_df

,index_x,time,assetName,volume,close,open,returnsOpenNextMktres10,returnsOpenPrevMktres1,returnsOpenPrevMktres10,index_y,rel_firstMention_1_1,rel_SentCount_1_1,relevance_1_1,firstMentionSentence_1_1,sentenceCount_1_1,sentimentWordCount_1_1,wordCount_1_1,rel_firstMention_3_1,rel_SentCount_3_1,relevance_3_1,firstMentionSentence_3_1,sentenceCount_3_1,sentimentWordCount_3_1,wordCount_3_1,rel_firstMention_1_0,rel_SentCount_1_0,relevance_1_0,firstMentionSentence_1_0,sentenceCount_1_0,sentimentWordCount_1_0,wordCount_1_0,rel_firstMention_3_0,rel_SentCount_3_0,relevance_3_0,firstMentionSentence_3_0,sentenceCount_3_0,sentimentWordCount_3_0,wordCount_3_0,rel_firstMention_1_-1,rel_SentCount_1_-1,relevance_1_-1,firstMentionSentence_1_-1,sentenceCount_1_-1,sentimentWordCount_1_-1,wordCount_1_-1,rel_firstMention_3_-1,rel_SentCount_3_-1,relevance_3_-1,firstMentionSentence_3_-1,sentenceCount_3_-1,sentimentWordCount_3_-1,wordCount_3_-1
498,510732,2010-12-27,Morgan Stanley,5368261.0,27.51,27.25,0.009896,-0.001557,-0.016590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001,348645,2012-12-26,Morgan Stanley,9056353.0,18.88,19.02,0.039817,0.010044,0.105104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1058,447040,2013-03-20,Morgan Stanley,17819327.0,22.74,22.59,-0.075112,-0.014857,-0.024126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1160,619773,2013-08-14,Morgan Stanley,7220991.0,26.79,26.91,-0.007392,0.005270,-0.018328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1253,773412,2013-12-26,Morgan Stanley,5408746.0,31.10,31.03,0.006335,-0.005825,-0.027749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1256,778288,2013-12-31,Morgan Stanley,8458176.0,31.36,30.89,0.022141,-0.006446,-0.037397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1258,781532,2014-01-03,Morgan Stanley,7811091.0,31.51,31.17,0.046663,0.001894,-0.003649,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
market_news['returnsOpenPrevMktres1_dir'] = market_news['returnsOpenPrevMktres1'].apply(lambda x: 0 if x<0 else 1)
market_news['returnsOpenPrevMktres10_dir'] = market_news['returnsOpenPrevMktres10'].apply(lambda x: 0 if x<0 else 1)

In [25]:
 req_feature_columns = ['returnsOpenPrevMktres1_dir', 'returnsOpenPrevMktres10_dir', 'relevance_1_1', 
                           'firstMentionSentence_1_1', 'sentimentWordCount_1_1', 'relevance_3_1',
                           'firstMentionSentence_3_1', 'sentimentWordCount_3_1', 'relevance_1_0',
                           'firstMentionSentence_1_0', 'sentimentWordCount_1_0', 'relevance_3_0',
                           'firstMentionSentence_3_0', 'sentimentWordCount_3_0', 'relevance_1_-1', 
                           'firstMentionSentence_1_-1','sentimentWordCount_1_-1','relevance_3_-1', 
                           'firstMentionSentence_3_-1', 'sentimentWordCount_3_-1', 'rel_SentCount_1_1', 
                           'rel_SentCount_3_1', 'rel_firstMention_1_1', 'rel_firstMention_3_1', 
                           'rel_firstMention_1_0', 'rel_SentCount_1_0', 'rel_firstMention_3_0', 'rel_firstMention_1_-1', 
                           'rel_SentCount_3_0', 'rel_SentCount_1_-1', 'rel_firstMention_3_-1', 'rel_SentCount_3_-1']

In [26]:
X_data = market_news[req_feature_columns].values
loaded_model = pickle.load(open('finalized_model.sav', 'rb'))

D:\Program Files\Miniconda3\envs\cse6242\lib\site-packages\sklearn\base.py:251: UserWarning: Trying to unpickle estimator LabelEncoder from version 0.19.1 when using version 0.20.1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [27]:
    Y_predict = loaded_model.predict(X_data)

In [28]:
Y_predict.shape

(1252,)

In [50]:
market_news['predicted'] = Y_predict

In [51]:
market_news['expected'] = market_news['returnsOpenNextMktres10'].map(lambda x: 0 if x<0 else 1)

In [52]:
return_col = ['time', 'assetName', 'volume', 'close', 'open','predicted','expected']

In [53]:
market_news = market_news[return_col]

In [54]:
null_df['expected'] = null_df['returnsOpenNextMktres10'].map(lambda x: 0 if x<0 else 1)
null_df['predicted'] = null_df['expected']
null_df = null_df[return_col]

In [59]:
final_df = pd.concat([market_news, null_df]).sort_values(['time'])

In [60]:
final_df.tail()

            time       assetName     volume  close   open  predicted  expected
1254  2013-12-27  Morgan Stanley  4116365.0  31.06  31.12          0         0
1255  2013-12-30  Morgan Stanley  6201517.0  30.85  31.07          0         1
1256  2013-12-31  Morgan Stanley  8458176.0  31.36  30.89          1         1
1257  2014-01-02  Morgan Stanley  9843424.0  31.03  31.33          0         1
1258  2014-01-03  Morgan Stanley  7811091.0  31.51  31.17          1         1

In [ ]:
table_name = re.sub(r'\W+', '', assetName)
table_name = "News_" + table_name

In [ ]:
query = """SELECT * FROM """ + table_name  + """ WHERE "time" = ?""" 
news_df = pd.read_sql(sql=query, con=news_con, params=["2009-01-05"])

In [ ]:
news_con.close()

In [ ]:
market_con = sqlite3.connect("MarketData.db")

In [ ]:
table_name = re.sub(r'\W+', '', assetName)
table_name = "Market_" + table_name

In [ ]:
query = """SELECT * FROM """ + table_name  + """ WHERE "time" = ?""" 
market_df = pd.read_sql(sql=query, con=market_con, params=["2009-01-05 22:00:00"])

In [ ]:
market_con.close()

In [ ]:
market_df

In [ ]:
news_df

In [ ]:
range_sent = [ 1, 0, -1]
range_urg = [1, 3]
# print("Unique Sentiment Values : {}".format(range_sent))
# print("Unique Urgency Values:  {}".format(range_urg))

cols_filtered = ['rel_firstMention', 'rel_SentCount', 'relevance', 'firstMentionSentence', 
           'sentenceCount', 'sentimentWordCount', 'wordCount']
for i in range_sent:
    for j in range_urg:
        for col in cols_filtered:
            new_col = col + "_" + str(j) + '_' + str(i)
            news_df[new_col] = 0.0
            news_df.loc[((news_df['sentimentClass'] == i)  & (news_df['urgency'] == j)),new_col] = \
                news_df.loc[((news_df['sentimentClass'] == i)  & (news_df['urgency'] == j)),col]
news_df.drop(labels=cols_filtered + ['urgency','sentimentClass'], axis=1, inplace=True)
gc.collect()
print("Given data Shape : {}".format(news_df.shape))

In [ ]:
news_df

In [ ]:
news_df['returnsOpenPrevMktres1']  = float(market_df['returnsOpenPrevMktres1'])
news_df['returnsOpenPrevMktres10'] = float(market_df['returnsOpenPrevMktres10'])

In [ ]:
news_df['returnsOpenPrevMktres1_dir'] = news_df['returnsOpenPrevMktres1'].apply(lambda x: 0 if x<0 else 1)
news_df['returnsOpenPrevMktres10_dir'] = news_df['returnsOpenPrevMktres10'].apply(lambda x: 0 if x<0 else 1)

In [ ]:
req_feature_columns = [ 'returnsOpenPrevMktres1_dir', 'returnsOpenPrevMktres10_dir', 
                   'relevance_1_1', 'firstMentionSentence_1_1', 
        'sentimentWordCount_1_1', 
       'relevance_3_1', 'firstMentionSentence_3_1', 'sentimentWordCount_3_1',
       'relevance_1_0', 'firstMentionSentence_1_0', 
       'sentimentWordCount_1_0', 'relevance_3_0',
       'firstMentionSentence_3_0', 'sentimentWordCount_3_0', 
       'relevance_1_-1', 'firstMentionSentence_1_-1',
       'sentimentWordCount_1_-1',
       'relevance_3_-1', 
       'firstMentionSentence_3_-1', 
       'sentimentWordCount_3_-1', 
        'rel_SentCount_1_1', 'rel_SentCount_3_1', 'rel_firstMention_1_1', 'rel_firstMention_3_1', 
        'rel_firstMention_1_0', 'rel_SentCount_1_0', 'rel_firstMention_3_0', 'rel_firstMention_1_-1', 
        'rel_SentCount_3_0', 'rel_SentCount_1_-1', 'rel_firstMention_3_-1', 'rel_SentCount_3_-1']

In [ ]:
X_data = news_df[req_feature_columns].values

In [ ]:
loaded_model = pickle.load(open('finalized_model.sav', 'rb'))

In [ ]:
Y_predict = loaded_model.predict(X_data)

In [ ]:
X_mean = news_df.groupby(['time','assetName'], as_index=False).mean()[req_feature_columns].values

In [ ]:
Y_predict_mean = loaded_model.predict(X_mean)

In [ ]:
Y_predict_mean

# Rough Work

In [ ]:
table_name

In [ ]:
X_mean

In [34]:
 df = pd.DataFrame({'age': [5, 6, np.NaN],
...                    'born': [pd.NaT, pd.Timestamp('1939-05-27'),
...                             pd.Timestamp('1940-04-25')],
...                    'name': ['Alfred', 'Batman', ''],
...                    'toy': [None, 'Batmobile', 'Joker']})
>>> df

   age       born    name        toy
0  5.0        NaT  Alfred       None
1  6.0 1939-05-27  Batman  Batmobile
2  NaN 1940-04-25              Joker

In [37]:
df.isna().any(axis=1)

0     True
1    False
2     True
dtype: bool

In [38]:
df[df.isna()]

   age born name   toy
0  NaN  NaT  NaN  None
1  NaN  NaT  NaN   NaN
2  NaN  NaT  NaN   NaN